.main-container {
    /* margin-left: 0px;
    margin-right: 0px; */
    text-align: center;
}

.image-card {
    margin: 4px;
    max-height: 200px;
}

img {
    image-orientation: from-image;
}

.folder-card {
    width: auto;
    margin: 5px;
}

.file-card {
    height: 200px;
    margin: 4px;
}

.file-card-image {
    height: 200px;
}

.grey-navbar {
    background-color: lightgray;
}

.breadcums-nav {
    border-radius: 0px;
}

.gallery-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

.gallery-content {
    position: relative;
}

.gallery-main-image { 
    position: relative;
    margin-top: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.gallery-small-images {
    margin-top: 20px;
    overflow: scroll;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.1);

}
.gallery-image {
    max-width: 100%;
    max-height: 70vh;
}

.gallery-image-small {
    /* width: 100%; */
    max-height: 100px;
    margin:4px;
}

.cross {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px;
    margin: auto;
    width: min-content;
    height: min-content;
}
